@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

:root {
  /* primary */
  --midnight: #014e56;
  --corol: #f67e7e;
  --white: #fff;
  /* secondary */
  --rapture: #79c8c7;
  --police: #2c6269;
  --deep: #004047;
  --sacramento: #012f34;
  --dark: #002529;
}

#hero .hero-header .row #menu-btn, #hero .hero-header .row label {
  display: none;
}

/* START HERO */
.hero-desc {
  padding: 70px 0 !important;
}
.hero-desc-title {
  padding-top: 35px;
}
.hero-contact {
  padding-top: 10px;
}
.hero-desc-item {
  margin-top: 8px;
}
.hero-desc-title p {
  margin: 20px 0 30px 0;
}
.hero-contact form input, textarea {
  background: none;
  border: none;
  border-bottom: 1.5px solid var(--white);
  display: block;
  width: 100%;
  padding: 15px 20px;
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 15px;
}
.hero-contact form input::placeholder, textarea::placeholder {
  color: var(--white);
  opacity: 0.6;
}
.hero-contact form input:focus, textarea:focus {
  outline: none;
  border-bottom: 1.5px solid var(--rapture);
  transition: 0.3s all;
}
button[type="submit"] {
  padding: 10px 32px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: var(--deep);
  border-radius: 30px;
  margin-top: 12px;
  cursor: pointer;
  transition: 0.3s all;
  border: 2px solid var(--white);
}
button[type="submit"]:hover {
  background-color: transparent;
  color: var(--white);
  border: 2px solid var(--white);
}
button[type="submit"]:active {
  opacity: 0.5;
}
/* END HERO */


@media only screen and (max-width:991px) { 
  .hero-desc-list li:first-child p {
    margin-left: -15px;
  }
  #hero {
    background: url(../images/team-left-img.png) no-repeat left 250px;
    background: url(../images/hero-two-img.png) no-repeat bottom right;
    padding: 70px 0 35px 0 !important;
  }
  .hero-contact.col-md-9 {
    flex-basis: 71.1111%;
  }
  .hero-contact button {
    display: flex;
    justify-content: flex-start;
    margin-top: 35px;
  }
}